bin/
obj/
*.exe
!paket.bootstrapper.exe
output/
*.dbmdl
*.dll
*.mdb
*.suo
.fake/
packages/
*.csproj.user
*.DotSettings.user
*.sln.cache
*.zip
*.apk
*.user
*.cab
*.orig
*.wixobj
paket-files/
.vs/
*.jfm
**/Paket.Restore.targets
*.log
